### Python Learning
Finally lets start to KickOff in Python 
First day is to be done with creating virtual environment of conda and installing pyton or vs codee
Now lets move on toward a practical Coding,

### Variables 
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. 
In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space.The declaration happens automatically when you assign a value to a variable.

In [9]:
## Declaring And Assigning Variables

age=32
height=6.1
name="Umer "
is_student=True

## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)

age : 32
Height: 6.1
Name: Umer

In [11]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name="Umer "
last_name="Ahmed"

In [12]:
# Invalid variable names
#2age=30
#first-name="Umer"
##@name="Ahmed"

In [13]:
## case sensitivity
name="Umer "
Name="Ahmed"

In [14]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=25 #int
height=6.1 #float
name="Umer Ahmed" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [15]:
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [16]:
height=21.5
type(height)

float

In [17]:
float(int(height))

21.0

In [18]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [19]:
## input

age=int(input("What is the age"))
print(age,type(age))

25 <class 'int'>

In [20]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 23.0
Difference: 19.0
Product: 42.0
Quotient: 10.5

### Conclusion:
Variables are essential in Python programming for storing and manipulating data. Understanding how to declare, assign, and use variables effectively is crucial for writing functional and efficient code. Following proper naming conventions and understanding variable types will help in maintaining readability and consistency in your code. This is what we learned today hope so for next task in coming days

3rd Lecture
## DataTypes
#### 1. Definition:

- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

#### 2. Importance of Data Types in Programming
Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

Outline of 3rd Lecture learning
1. Introduction to Data Types
2. Importance of Data Types in Programming
3. Basic Data Types
   - Integers
   - Floating-point numbers
   - Strings
   - Booleans
4. Advanced Data Types
   - Lists
   - Tuples
   - Sets
   - Dictionaries
5. Type Conversion
6. Practical Examples

In [1]:
## Integer Example
age=35
type(age)

int

In [2]:
##floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
## string datatype example
name="Umer Ahmed"
print(name)
print(type(name))

Umer Ahmed
<class 'str'>

In [4]:
## boolean datatype
is_true=True
type(is_true)

bool

In [5]:
a=10
b=10
type(a==b)

bool

In [8]:
## common errors

result="Hello" + "5"
print(result)

Hello5

## Deep Dive into Operators

### Lecture Outline:
1. Introduction to Operators
2. Arithmetic Operators
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation
3. Comparison Operators
   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to 
   - Less than or equal to
4. Logical Operators
   - AND
   - OR
   - NOT
5. Practical Examples and Common Errors

In [9]:
## Arithmethic Operation

a=10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #subtraction 
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [10]:
13/5

2.6

In [11]:
21/5

4.2

In [12]:
13//5

2

#### Comparison Operators

In [13]:
## Comparison Operators
## == Equal to
a=10
b=10

a==b

True

In [14]:
str1="Umer"
str2="Ahmed"

str1==str2

False

In [15]:
## Not Equal to !=
str1!=str2

True

In [16]:
str3="Umer"
str4="Umar"

str3!=str4

True

In [17]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)

True

In [18]:
#less than or equal to
number1=44
number2=45

print(number1<=number2)

True

#### Logical Operators

In [19]:
## And ,Not,OR
X=True
Y=True

result =X and Y
print(result)

True

In [20]:
X=False
Y=True

result =X and Y
print(result)

False

In [21]:
## OR
X=False
Y=True

result =X or Y
print(result)

True

In [22]:
# Not operator
X=False
not X

True

In [23]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 60.0
Subtraction: 48.0
Multiplication: 324.0
Division: 9.0
Floor Division: 9.0
Modulus: 0.0
Exponentiation: 24794911296.0

In [24]:
# Function to perform arithmetic operations
def arithmetic_operations(a, b):
    results = {
        'Addition': a + b,
        'Subtraction': a - b,
        'Multiplication': a * b,
        'Division': a / b if b != 0 else 'Error: Division by zero',
        'Modulus': a % b if b != 0 else 'Error: Modulus by zero'
    }
    return results

# Function to perform logical operations
def logic_operations(a, b):
    results = {
        'AND': a and b,
        'OR': a or b,
        'XOR': bool(a) ^ bool(b),
        'NOT A': not a,
        'NOT B': not b
    }
    return results

def main():
    # Asking user to enter two numbers
    a = float(input("Enter first number: "))
    b = float(input("Enter second number: "))
    
    # Performing arithmetic operations and displaying results
    print("\nArithmetic Operations Results:")
    arithmetic_results = arithmetic_operations(a, b)
    for operation, result in arithmetic_results.items():
        print(f"{operation}: {result}")
    
    # Converting input to boolean values for logical operations
    a_bool = bool(int(a))  # Convert to integer first, then boolean
    b_bool = bool(int(b))
    
    # Performing logical operations and displaying results
    print("\nLogical Operations Results:")
    logic_results = logic_operations(a_bool, b_bool)
    for operation, result in logic_results.items():
        print(f"{operation}: {result}")
    
if __name__ == "__main__":
    main()

Arithmetic Operations Results:
Addition: 4.0
Subtraction: 0.0
Multiplication: 4.0
Division: 1.0
Modulus: 0.0

Logical Operations Results:
AND: True
OR: True
XOR: False
NOT A: False
NOT B: False

#### Introduction To Lists
- Lists are ordered, mutable collections of items.
- They can contain items of different data types.

##### Lecture Outline:
1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating Over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples and Common Errors

In [38]:
"""
Lecture Outline: Lists in Python
1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating Over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples and Common Errors
"""

# 2. Creating Lists
my_list = [10, 20, 30, 40, 50]

# 3. Accessing List Elements
print("First Element:", my_list[0])  # Accessing by index
print("Last Element:", my_list[-1])  # Negative indexing

# 4. Modifying List Elements
my_list[1] = 25  # Changing second element
print("Modified List:", my_list)

# 5. List Methods
my_list.append(60)  # Adding element to the end
my_list.insert(2, 35)  # Inserting at index 2
my_list.remove(30)  # Removing an element
print("List after modifications:", my_list)

# 6. Slicing Lists
print("Sliced List (First three elements):", my_list[:3])
print("Sliced List (Last two elements):", my_list[-2:])

# 7. Iterating Over Lists
print("Iterating through list:")
for item in my_list:
    print(item)

# 8. List Comprehensions
squares = [x**2 for x in range(1, 6)]
print("List of Squares:", squares)

# 9. Nested Lists
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("Nested List Element (1st row, 2nd column):", nested_list[0][1])

# 10. Practical Examples and Common Errors
try:
    print(my_list[10])  # IndexError: Out of range
except IndexError as e:
    print("Error:", e)

try:
    my_list.remove(100)  # ValueError: Element not found
except ValueError as e:
    print("Error:", e)

First Element: 10
Last Element: 50
Modified List: [10, 25, 30, 40, 50]
List after modifications: [10, 25, 35, 40, 50, 60]
Sliced List (First three elements): [10, 25, 35]
Sliced List (Last two elements): [50, 60]
Iterating through list:
10
25
35
40
50
60
List of Squares: [1, 4, 9, 16, 25]
Nested List Element (1st row, 2nd column): 2
Error: list index out of range
Error: list.remove(x): x not in list

In [25]:
lst=[]
print(type(lst))

<class 'list'>

In [26]:
names=["Haseeb","Hamza","Subhan", "Umer",1,2,3,4,5]
print(names)

['Haseeb', 'Hamza', 'Subhan', 'Umer', 1, 2, 3, 4, 5]

In [27]:
mixed_list=[1,"Hello",3.14,True]
print(mixed_list)

[1, 'Hello', 3.14, True]

In [28]:
### Accessing List Elements

fruits=["apple","banana","cherry","kiwi","gauva"]

In [29]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
gauva
gauva

In [30]:
print(fruits[1:])
print(fruits[1:3])

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']

In [31]:
## Modifying The List elements
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [32]:
fruits[1]="Rahman Akram"
print(fruits)

['apple', 'Rahman Akram', 'cherry', 'kiwi', 'gauva']

In [33]:
fruits[1:]="watermelon"

In [34]:
fruits=["apple","banana","cherry","kiwi","gauva"]

In [35]:
## List Methods

fruits.append("orange") ## Add an item to the end
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [36]:
# Creating a list
numbers = [10, 20, 30, 40, 50]

# Adding an element to the list
numbers.append(60)

# Inserting an element at a specific index
numbers.insert(2, 25)

# Removing an element from the list
numbers.remove(40)

# Modifying an element
numbers[1] = 15

# Printing the modified list
print("Updated List:", numbers)

Updated List: [10, 15, 25, 30, 50, 60]

In [37]:
# Creating a list
nums = [5, 3, 8, 1, 9, 2]

# Sorting the list in ascending order
nums.sort()
print("Sorted List (Ascending):", nums)

# Sorting the list in descending order
nums.sort(reverse=True)
print("Sorted List (Descending):", nums)

# Reversing the list
nums.reverse()
print("Reversed List:", nums)

Sorted List (Ascending): [1, 2, 3, 5, 8, 9]
Sorted List (Descending): [9, 8, 5, 3, 2, 1]
Reversed List: [1, 2, 3, 5, 8, 9]

In [39]:
# Creating a list
nums = [5, 3, 8, 1, 9, 2]

# Sorting the list in ascending order
nums.sort()
print("Sorted List (Ascending):", nums)

# Sorting the list in descending order
nums.sort(reverse=True)
print("Sorted List (Descending):", nums)

# Reversing the list
nums.reverse()
print("Reversed List:", nums)

Sorted List (Ascending): [1, 2, 3, 5, 8, 9]
Sorted List (Descending): [9, 8, 5, 3, 2, 1]
Reversed List: [1, 2, 3, 5, 8, 9]

In [40]:
# Creating a list of squares from 1 to 10
squares = [x**2 for x in range(1, 11)]
print("Squares:", squares)

Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
# Creating a list
numbers = [10, 15, 20, 25, 30, 35, 40]

# Filtering even numbers
even_numbers = [num for num in numbers if num % 2 == 0]

print("Even Numbers:", even_numbers)

Even Numbers: [10, 20, 30, 40]

In [42]:
# Creating a list
values = [12, 45, 78, 3, 89, 23]

# Finding the maximum and minimum values
max_value = max(values)
min_value = min(values)

print("Maximum Value:", max_value)
print("Minimum Value:", min_value)

Maximum Value: 89
Minimum Value: 3

#### Tuples
Lecture Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors

In [43]:
#### 1. Introduction to Tuples
# Tuples are immutable sequences in Python, used to store multiple items in a single variable.

#### 2. Creating Tuples
tuple1 = (1, 2, 3, 4, 5)  # A simple tuple
tuple2 = ('apple', 'banana', 'cherry')  # A tuple of strings
tuple3 = (1, "Hello", 3.14)  # A tuple with mixed data types
tuple4 = (42,)  # A single-element tuple (comma is necessary)
tuple5 = tuple([1, 2, 3])  # Creating a tuple from a list

#### 3. Accessing Tuple Elements
print(tuple1[0])  # First element
print(tuple2[-1])  # Last element
print(tuple3[1:])  # Slicing

#### 4. Tuple Operations
tuple6 = tuple1 + tuple2  # Concatenation
print(tuple6)
print(tuple1 * 2)  # Repetition

#### 5. Immutable Nature of Tuples
# tuple1[0] = 10  # This will raise a TypeError since tuples are immutable

#### 6. Tuple Methods
print(tuple1.count(2))  # Count occurrences of 2
print(tuple2.index('banana'))  # Find index of 'banana'

#### 7. Packing and Unpacking Tuples
tuple7 = (10, 20, 30)  # Packing
a, b, c = tuple7  # Unpacking
print(a, b, c)

#### 8. Nested Tuples
tuple8 = ((1, 2, 3), (4, 5, 6), (7, 8, 9))  # Tuple of tuples
print(tuple8[1][2])  # Accessing nested elements

#### 9. Practical Examples and Common Errors
# Swapping values using tuples
a, b = 5, 10
a, b = b, a
print("Swapped values:", a, b)

# Attempting to modify a tuple (Uncomment to see the error)
# tuple1[0] = 100  # TypeError: 'tuple' object does not support item assignment

# Creating a tuple dynamically
values = tuple(range(5))
print(values)

1
cherry
('Hello', 3.14)
(1, 2, 3, 4, 5, 'apple', 'banana', 'cherry')
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
1
1
10 20 30
6
Swapped values: 10 5
(0, 1, 2, 3, 4)

In [44]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [45]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [46]:
list((1,2,3,4,5,6)) ## Type casting

[1, 2, 3, 4, 5, 6]

In [47]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [48]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [49]:
print(numbers[2])
print(numbers[-2])

3
5

In [50]:
numbers[0:4] ## slicing operation

(1, 2, 3, 4)

In [51]:
numbers[::-2] ## step size

(6, 4, 2)

In [52]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple ## concatenation
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [53]:
mixed_tuple * 2 ## repetetion

(1, 'Hello World', 3.14, True, 1, 'Hello World', 3.14, True)

In [54]:
numbers *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [55]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Umer"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Umer', 3, 4, 5]

In [56]:
## Tuple Methods
print(numbers.count(5))
print(numbers.index(3))

1
2

In [1]:
# Packing a tuple
person = ("John", 25, "Engineer")

print(person)  # Output: ('John', 25, 'Engineer')

('John', 25, 'Engineer')

In [2]:
# Unpacking a tuple
name, age, profession = person

print(name)       # Output: John
print(age)        # Output: 25
print(profession) # Output: Engineer

John
25
Engineer

In [3]:
# Unpacking with *
numbers = (1, 2, 3, 4, 5)

first, *middle, last = numbers

print(first)  # Output: 1
print(middle) # Output: [2, 3, 4]
print(last)   # Output: 5

1
[2, 3, 4]
5

In [57]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(type(packed_tuple))

<class 'tuple'>

#### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.

# Lesson 1.2: Python Basics
## Topics Covered:
- Syntax and Semantics
- Variables and Data Types
- Basic Operators (Arithmetic, Comparison, Logical)

## 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [4]:
# Solution
print("Hello, World!")

Hello, World!

**Question 2:** Write a Python program that takes a user input and prints it.

In [5]:
# Solution
user_input = input("Please enter something: ")
print(f"You entered: {user_input}")

You entered: Umer is a mphil student

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [7]:
# Solution
number = float(input("Enter a number: "))
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

**Question 4:** Write a Python program to find the largest of three numbers.

In [8]:
# Solution
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3

print(f"The largest number is {largest}")

The largest number is 3.0

**Question 5:** Write a Python program to calculate the factorial of a number.

In [11]:
# Solution
def factorial(n):
    if not isinstance(n, int) or n < 0:
        raise ValueError("Factorial is only defined for non-negative integers.")
    
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

try:
    num = int(input("Enter a number: "))  # Convert to integer
    print(f"The factorial of {num} is {factorial(num)}")
except ValueError as e:
    print(f"Error: {e}")

The factorial of 33 is 8683317618811886495518194401280000000

## 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [12]:
# Solution
integer_var = 10
float_var = 10.5
string_var = "Hello"
boolean_var = True

print(f"Integer value: {integer_var}, type: {type(integer_var)}")
print(f"Float value: {float_var}, type: {type(float_var)}")
print(f"String value: {string_var}, type: {type(string_var)}")
print(f"Boolean value: {boolean_var}, type: {type(boolean_var)}")

Integer value: 10, type: <class 'int'>
Float value: 10.5, type: <class 'float'>
String value: Hello, type: <class 'str'>
Boolean value: True, type: <class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [13]:
# Solution
a = 5
b = 10
print(f"Before swap: a = {a}, b = {b}")

# Swapping
a, b = b, a
print(f"After swap: a = {a}, b = {b}")

Before swap: a = 5, b = 10
After swap: a = 10, b = 5

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [14]:
# Solution
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius}°C is equal to {fahrenheit}°F")

55.0°C is equal to 131.0°F

**Question 9:** Write a Python program to concatenate two strings.

In [15]:
# Solution
string1 = "Hello"
string2 = "World"
concatenated_string = string1 + " " + string2
print(concatenated_string)

Hello World